<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="pom.Sign_up"/>
      <class name="pom.signin_pom"/>
      <class name="pom.Home_pom"/>
      
      <class name="pom.Signup"/>
      <class name="pom.Gsign_in"/>
      <class name="pom.Homepage"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
